.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 10px;
}

.converter {
    display: flex;
    align-items: center;
    width: 60%;
    max-width: 700px;
    gap: 10px;
}

.converter__insert{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #FFFFFF;
    width: 100%;
    height: 35px;
    border-radius: 10px;
    gap: 5px
}

.converter__input {
    height: 100%;
    font-weight: 600;
    width: 90%;
    min-width: 100px;
    font-size: 16px;
    border-radius: 5px;
    color: #0F0F15;
    background-color: #FFFFFF;
    outline: none;
    border: none;
}

.converter__selects {
    display: flex;
    align-items: center;
    height: fit-content;
    gap: 10px;
    color: #000000;
}

.converter__selects__line {
    height: 10px;
    width: 1px;
    border-right: 1px solid #000000;
}

select {
    min-width: 50px;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 50px;
    border: 1px solid #000000;
}

select option {
    color: #000000;
}

.calculation_button {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #15141F;
    cursor: pointer;
}

.resultPrice {
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 5px 10px;
    border-radius: 15px;
}

.block_container {
    display: flex;
    position: relative;
    width: 100%;
    gap: 40px;
    padding: 60px 0 0 0;
}

.block_container__rates {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 400px;
    overflow-y: scroll;
    background-color: #15141F;
    border-radius: 15px;
    box-shadow: 4px 4px 6px #FFFFFF;
}

.block_container h3 {
    white-space: pre;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.block_container__valute h3 {
    left: 75%;
    transform: translateX(-55%);
}

.block_container__rates_list {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.block_container__rates_list div {
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-width: 110px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 3px 5px;
    font-size: 14px;
    cursor: pointer;
    transition: color 200ms ease, background-color 500ms ease, transform 200ms ease;
}

.block_container__rates_list div:hover {
    background-color: #FFFFFF;
    color: #000000;
    transform: scale(1.1);
}

.block_container__valute {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 400px;
    gap: 10px;
}

.block_container__valute div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 3px 3px 6px #FFFFFF;
    transition: transform 200ms ease;
    max-height: 50%;
    padding: 5px;
    gap: 10px;
    font-weight: 500;
    overflow-y: scroll;
}

.block_container__valute div p {
    margin: 0;
    min-width: 120px;
}

.block_container__valute div:hover {
    transform: scale(1.1);
}

.block_container__valute_first {
    width: calc(70% - 5px);
    background-color: #7F7FE7;
    color: #0F0F15;
}

.block_container__valute_second {
    width: calc(30% - 5px);
    background-color: #561C96;
}

.block_container__valute_third {
    width: calc(40% - 5px);
    background-color: #D9D9D9;
    color: #0F0F15;
}

.block_container__valute_fourth {
    width: calc(60% - 5px);
    background-color: #AE51DF;
}

@media screen and (max-width: 1252px) {
    .home {
        width: 100%;
    }
}

@media screen and (max-width: 950px) {
    .block_container__valute {
        font-size: 12px;
    }
    .block_container__valute_first {
        width: calc(60% - 5px);
        background-color: #7F7FE7;
        color: #0F0F15;
    }
    
    .block_container__valute_second {
        width: calc(40% - 5px);
        background-color: #561C96;
    }
}

@media screen and (max-width: 950px) {
    .block_container__valute {
        font-size: 10px;
    }
}